@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 90, 140, 68;
  --background-start-rgb:  204, 238, 201;
  --background-end-rgb: 255, 255, 255;
  
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  background-color: rgb(6, 245, 106);
  transition: background-color 0.5s;
}

a:hover {
  background-color: gold;
}


@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  ul {
    @apply list-disc;
    @apply md:p-5;
  }

  a {
    @apply text-xl;
  }
}